.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

.auth-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
